<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Homehive login</title>
</head>
<body>
    <header> HomeHive </header>
    <h1>HomeHive</h1>
    <form action = "submit" method="post">
        {%csrf_token%} <!-- security vulnerability measure preventing a malicious website to send a request to a different website that the user is logged in to.-->
         <label for="name">Username:</label>
         <input type = "text" id="name" name="name" required><br>
         <label for="password">Password:</label>
         <input type = "text" id="password" name="password" required>
      <button type ="submit">login</button>
      <div class="error">
        <p>Error Message</p>
    </div>
    
    <div class="success">
        <p>Success Message</p>
    </div>
    </form>
    <footer> copyright@2023</footer>
    
</body>
</html>